/*58712502*/
body{
    height: 100vh;
    width: 100vw;
}
#root{
    margin: auto;
    border: 1px solid black;
    height: 80%;
    width: 80%;
}
#countries{
    height: 80vh;
    width: 20vw;
    border: 1px solid black;
    overflow: auto;

}
#countries div{
    padding: 2px;
    margin: 2px;
    background-color: lightblue;
}
#countries div:hover{
    background-color: green;
    cursor: pointer;
}