*{
    border: 1px solid;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: gray;
    padding: 40px;
}
#inner{
    width: 200px;
    height: 200px;
    background-color: blue;
}

#outer{
    width: 400px;
    height: 400px;
    padding: 40px;
    background-color: green;
}