// $ npm i pug
// $ npm i -g pug-cli
// $ pug -w . -o ./html -P
//
//////////////////////////Basic document//////////////////
doctype html
html(lang='en')
  h1.class#id(name='hi')
    | This is some text, hello there,
    = name

  - javascript()

///////////////////////////Comments//////////////////////
// This comment will appear in the HTML
//- This is a silent comment
//-
  Nesting inside a comment creates
  a comment block

///////////////////////////Multiline text//////////////////////
p.
  This is text that doesn't need to
  be prefixed by pipes.
 

script.
  // It's great for raw
  // JavaScript and stuff
  alert('hello')
///////////////////////////Elements//////////////////////
div
  | Just a div
.search
  | A div, with class 'search'
h1 A heading with text
h1= page.title
div.class
div.class1.class2
h1.header
///////////////////////////Includes (partials)//////////////////////
include ./includes/head.pug
include:markdown article.md
///////////////////////////Conditionals//////////////////////
if authenticated
  a(href='/logout') Sign out
else
  a(href='/login') Sign in

if pugLaunch
  h2 This pug launched into space
else if pugBattle
  h2 This pug is engaged in battle
else if !pugBreak
  h2 Yo you ain't on a pug break, dug
else
  h2 Warning! This pug is jumping through logic!
///////////////////////////Attributes//////////////////////
input(type='text' name='q' autofocus)
- var authenticated = true
body(class=authenticated ? 'authed' : 'anon')
///////////////////////////Iteration//////////////////////
ul
  each user in users
    li= user
each value in arrayVariable
  p= value
each value in ['Pug Life', 'Pugspace', 'Pug Blues']
  p= value
each value, index in ['Pug Riding', 'Pug Aliens']
  p= index + ': ' + value
while x < 10
  p= x
  x++
///////////////////////////Layout//////////////////////
//- page.pug
extends layout.pug
block title
  | hello
block content
  | hello
//- layout.pug
title
  block title
body
  block content

//- template.pug
block data
  - var pageTitle = "Pugcupid"
html
  head
    title= pageTitle
  body
    block ribbon
    block content
      p Pugs fo life
//- page.pug
//- Extends template.pug
extends ./path-to/template.pug
block data
  - var pageTitle = "Pudome"
block ribbon
  p New pug jazz

block content
  p This wipes out "Pugs fo life"
///////////////////////////Variables//////////////////////
//- Assignment
- var stringVariable = 'String'
- var integerVariable = 10
- var arrayVariable = ['Pug', 'Dancer', 'Cake']
- var objectVariable = { name: 'Lancelot' }
//- Concatentation
- var combinedVariable = 'Pug' + stringVariable
///////////////////////////Interpolation//////////////////////
- var title = 'Pug Smootie'
- var star = 'Prime Minister Pugadorian'
h2= title
p #{star} is heading to the US!
///////////////////////////Mixins/////////////////////////////
//- Declaration
mixin pugQuote
  blockquote As a pug, I often live the high life. Peeps look at me and think, "Dang brah, I need just the kibble on the bits for me.
  cite Prince Diggity
//- Usage
+pugQuote
//- Declaration with parameters
mixin pugUser(name, age)
  h2= name
  if age
    h3= age
//- Usage with parameters
+pugUser('Bubbles', 2)
///////////////////////////Elements//////////////////////
///////////////////////////Elements//////////////////////
///////////////////////////Elements//////////////////////
///////////////////////////Elements//////////////////////
///////////////////////////Elements//////////////////////
