body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
#root{
    position: relative;
    width: 60%;
    height: 60%;
    border: 1px solid black;
    margin: auto;
}

#balle{
    position: absolute;
    top:20px;
    left: 100px;
    border: 1px solid orange;
    background-color: orange;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}