#root{
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}
#root div {
    border: 1px solid black;
    margin: 2px;
    width: 40px;
    text-align: center;
}
.bleu{
    background-color: orange;
}

.jaune{
    background-color: yellow;
}